{% extends 'index.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block inicio %}

    {% for paquete in info %}
    <h2>Paquete contratado:<br></h2>
    Lugar Contratado: {{ paquete.lugares }}<br>
    Fecha de entrada: {{ paquete.fecha_de_entrada }}<br>
    Fecha de salida: {{ paquete.fecha_de_salida }}<br>
    <h2><a href="{% url 'AppEliminarPaquete' paquete.id %}">BORRAR PAQUETE</a></h2>    

        {% for cosa in info1 %}
            <h4>Acompañante:<br></h4>
            Nombre:  {{ cosa.nombre }} <br>
            Apellido:  {{ cosa.apellido }} <br>
            Email:  {{ cosa.email }} <br>
            Celular:  {{ cosa.celular }} <br>
            Dni:  {{ cosa.dni }} <br>
            Emplado a cargo del cliente:  {{ cosa.empleado_asignado }} <br><br>
            <h2><a href="{% url 'AppEliminarPeticion' cosa.dni %}">BORRAR ACOMPAÑANTE</a></h2>
            <h2><a href="{% url 'AppEditarAcompanante' cosa.dni %}">EDITAR ACOMPAÑANTE</a></h2>
        {% endfor %}
    {% endfor %}

    
    {% for cosa in info12 %}
        Nombre:  {{ cosa.nombre }} <br>
        Apellido:  {{ cosa.apellido }} <br>
        Email:  {{ cosa.email }} <br>
        Celular:  {{ cosa.celular }} <br>
        Dni:  {{ cosa.dni }} <br>
        Emplado a cargo del cliente:  {{ cosa.empleado_asignado }} <br>
        <h2> Paquete contratado: </h2>
        {% for paquete in info1 %}
            Lugar Contratado: {{ paquete.lugares }}<br>
            Fecha de entrada: {{ paquete.fecha_de_entrada }}<br>
            Fecha de salida: {{ paquete.fecha_de_salida }}<br><br>
        {% endfor %}

    {% endfor %}

{% endblock inicio %}
