{% extends 'index.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block inicio %}

    <form action= '' method='{{ method }}' enctype="multipart/form-data">
        
    {% csrf_token %}
        <h4>{{info}}</h4>
        
        {{form.as_p}}
        
        {{form1.as_p}}

        <input class="btn btn-primary" type='submit' value={{Button_value}} >

        {% if  info1  == 'yes' %}
            <a class="btn btn-primary" href="{% url 'AppUserRegister' %}">Register</a>
        {% endif %}
          

        {% if  info2  == 'yes' %}
            <a class="btn btn-primary" href="{% url 'AppUserAvatar' %}">Cargar imagen de usuario</a>

        {% endif %}
    </form>


{% endblock inicio %}